{{#extends "base"}}
{{#block "content"}}
<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete {{foodRecords:foodName}}
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a href="/" class="btn btn-success">Cancel</a>
    </div>
</form>
{{/block}}

{{/extends}}